@page "/about-us"
<PageTitle>O nás | Kratom E-shop</PageTitle>

<h1 class="header_text">O nás</h1>
<section class="about_us">
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sapien elit, consequat eget,
        tristique non, venenatis quis, ante. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
        reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor
        sit amet, consectetuer adipiscing elit. Nunc tincidunt ante vitae massa. In sem justo, commodo ut,
        suscipit at, pharetra vitae, orci. Duis risus. Etiam bibendum elit eget erat. Nam quis nulla.
        Curabitur vitae diam non enim vestibulum interdum. Sed convallis magna eu sem. Sed elit dui,
        pellentesque a, faucibus vel, interdum nec, diam. Duis sapien nunc, commodo et, interdum suscipit,
        sollicitudin et, dolor.
        <br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sapien elit, consequat eget,
        tristique non, venenatis quis, ante. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
        reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor
        sit amet, consectetuer adipiscing elit. Nunc tincidunt ante vitae massa. In sem justo, commodo ut,
        suscipit at, pharetra vitae, orci. Duis risus. Etiam bibendum elit eget erat. Nam quis nulla.
        Curabitur vitae diam non enim vestibulum interdum. Sed convallis magna eu sem. Sed elit dui,
        pellentesque a, faucibus vel, interdum nec, diam. Duis sapien nunc, commodo et, interdum suscipit,
        sollicitudin et, dolor.
    </p>


    <img src="images/red-blood.png" class="image-box">
</section>

@code {

}
