@page "/basket"
<PageTitle>Košík | Kratom E-shop</PageTitle>
<section class="cart-container">
    <h1>Košík</h1>
    @{
        var cartItems = cartService.GetCartItems();
        if (cartItems == null || cartItems.Count == 0)
        {
            <p>Váš košík je prázdný.</p>
        }
        else
        {
            <p>Položky: @cartItems.Count</p>
        }
    }
    
    <div class="cart-items">
        @foreach (var item in cartItems)
        {
            <div class="cart-item">
                <img src="@item.Item.ImageUrl" alt="Kratacek">
                <div class="item-details">
                    <h2>@item.Item.Name</h2>
                    <span class="weight">100g</span>
                </div>
                <div class="price">@item.Item.Price Kč</div>
            </div>
            
        }
    </div>
    <div class="order-summary">
        <h2>Shrnutí objednávky</h2>
        @{
            var totalPrice = cartItems.Sum(i => i.Item.Price * i.Quantity);
        }
        <h3>Celkem: @totalPrice Kč</h3>
        <button>Pokračovat v objednávce</button>
    </div>
</section>
@code {
    [Inject]
    private CartService cartService { get; set; } = null!;

}
