@page "/basket"
<PageTitle>Košík | Kratom E-shop</PageTitle>
<section class="cart-container">
    <h1>Košík</h1>
    <p>3 položky</p>
    <div class="cart-items">
        <div class="cart-item">
            <img src="images/green-bali.png" alt="Green Bali">
            <div class="item-details">
                <h2>Green Bali</h2>
                <span class="weight" >100g</span>
            </div>
            <div class="price">889 Kč</div>
        </div>
        <div class="cart-item">
            <img src="images/white-dragon.png" alt="White Dragon">
            <div class="item-details">
                <h2>White Dragon</h2>
                <span class="weight">20g</span>
            </div>
            <div class="price">419 Kč</div>
        </div>
        <div class="cart-item">
            <img src="images/red-blood.png" alt="Red Blood">
            <div class="item-details">
                <h2>Red Blood</h2>
                <span class="weight">10g</span>
            </div>
            <div class="price">149 Kč</div>
        </div>
    </div>
    <div class="order-summary">
        <h2>Shrnutí objednávky</h2>
        <p>Mezisoučet: 1457 Kč</p>
        <p>Doprava: 79 Kč</p>
        <p>Daň: 305,97 Kč</p>
        <h3>Celkem: 1842 Kč</h3>
        <button>Pokračovat v platbě</button>
    </div>
</section>
@code {

}
