@page "/contact"
<PageTitle>Kontakt | Kratom E-shop</PageTitle>
<h1>Kontakt</h1>
<hr/>
<section aria-label="Kontaktní údaje">
    <div class="row">
        <div class="col-12 col-md-6">
            <address>
                Česká zemědělská univerzita v Praze<br>
                Kamýcká 129<br>
                165 00 Praha-Suchdol<br>
                Česká republika
            </address>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                height="300"
                src="https://www.openstreetmap.org/export/embed.html?bbox=14.336214065551758%2C50.117083412319786%2C14.407882690429688%2C50.1420634310433&amp;layer=mapnik&amp;marker=50.129575051558376%2C14.372048377990723"
                style="border: 1px solid black; width: 100%;"
                title="Mapa s adresou Kratom E-shopu"
                aria-label="Mapa s adresou Kratom E-shopu"
            ></iframe>
        </div>
    </div>
</section>

<section class="contact_form" >
    <h2>Kontaktuj nás</h2>
    <form>
        <div class="form-group">
            <input type="text" placeholder="Jméno" required aria-required="true" aria-label="Jméno">
            <input type="text" placeholder="Příjmení" required aria-required="true" aria-label="Příjmení">
        </div>
        <div class="form-group">
            <input type="email" placeholder="e-mail@domena.com" required aria-label="E-mail">
        </div>
        <div class="form-group">
            <textarea placeholder="Text..." rows="5" required aria-label="Vaše zpáva"></textarea>
        </div>
        <button type="submit" aria-label="Odeslat formulář">Odeslat</button>
    </form>
</section>
@code {

}
