@page "/novinky"
<PageTitle>Novinky | Kratom E-shop</PageTitle>

<main>
    <section class="news-header">
        <h1>Novinky</h1>
        <hr/>
        <p>Buďte vždy v obraze s nejnovějšími informacemi o našem e-shopu, produktech a komunitě.</p>
    </section>

    <section class="news-items">
        <article class="news-item">
            <h2>Nový druh Premium Kratomu</h2>
            <p>Jsme nadšení, že vám můžeme představit náš nový druh Premium Kratomu, který je ještě čistší a zelenější. Zjistěte více v sekci <a href="/products">nabídka produktů</a>.</p>
        </article>

        <article class="news-item">
            <h2>Zelená budoucnost</h2>
            <p>Naše společnost se zavázala k podpoře ekologických metod pěstování, které minimalizují negativní dopady na životní prostředí a přispívají k udržitelnosti přírodních zdrojů. Pečlivě spolupracujeme s farmáři, kteří využívají šetrné techniky pěstování, a investujeme do výzkumu a inovací, abychom zajistili, že naše produkty splňují nejpřísnější ekologické standardy. Záleží nám na ochraně biodiverzity, a proto se snažíme obnovovat přirozené prostředí a zachovávat rovnováhu ekosystémů. Tento závazek je součástí naší dlouhodobé strategie stát se lídrem v odpovědném a udržitelném podnikání, které prospívá nejen našim zákazníkům, ale také komunitám a planetě jako celku.</p>
        </article>

        <article class="news-item">
            <h2>Sleva na první nákup</h2>
            <p>Pro nové zákazníky máme připravenou speciální slevu 10 % na první objednávku! Nezapomeňte si zaregistrovat účet a využít výhody.</p>
        </article>
    </section>
</main>