@page "/products"
<PageTitle>Produkty | Kratom E-shop</PageTitle>

<div class="products-container">
    <h1 class="header_text">Produkty</h1>
    <div class="products">
        <div class="product-card">
            <img src="images/red-blood.png" class="image-placeholder">
            <h2>Product name</h2>
            <p class="price">Price Kč</p>
            <p class="description">Description</p>
            <button><a href="product_A.html">Add to cart</a></button>
        </div>
        <div class="product-card">
            <img src="images/red-blood.png" class="image-placeholder">
            <h2>Product name</h2>
            <p class="price">Price Kč</p>
            <p class="description">Description</p>
            <button>Add to cart</button>
        </div>
        <div class="product-card">
            <img src="images/red-blood.png" class="image-placeholder">
            <h2>Product name</h2>
            <p class="price">Price Kč</p>
            <p class="description">Description</p>
            <button>Add to cart</button>
        </div>
    </div>
</div>

@code {

}
