@page "/products"
@using KratomShop.Data
@using KratomShop.Models.Database
<PageTitle>Produkty | Kratom E-shop</PageTitle>

<h1>Produkty</h1>
<hr/>
<div class="row">
@foreach (var item in Items)
{
    <div class="col-12 col-md-4">
        <div class="product-card mb-4">
            <img src="@item.ImageUrl" alt="Kratom fotka" class="img-fluid rounded" style="max-width:200px;" />
            <h2>@item.Name</h2>
            <div class="mt-2 d-flex justify-content-between align-items-center">
                <p class="rating m-0">4,3 (★★★★☆)</p>
                <p class="price text-end m-0">@item.Price Kč</p>
            </div>
            <p class="description mt-2">@item.Description</p>
            <a class="btn btn-dark btn-sm" href="/product/@item.Id">Details</a>
            <a class="btn btn-dark btn-sm" href="/product/@item.Id" disabled>Add to cart</a>
        </div>
    </div>
}
    
</div>



@code {
    //ApplicationDbContext
    [Inject] private ShopCatalogService _shopCatalogService { get; set; }


    public IEnumerable<Item> Items { get; set; } = new List<Item>();
    
    protected override async Task OnInitializedAsync()
    {
        Items = await _shopCatalogService.GetAllItemsAsync();
    }

}
