@implements IDisposable

@inject NavigationManager NavigationManager


@* <nav>
    <ul>
        <li><a href="about_us.html">O nás</a></li>
        <li><a href="products.html">Produkty</a></li>
        <li><a href="contact.html">Kontakt</a></li>
        <li><a href="reviews.html">Recenze</a></li>
        <li><a href="bussiness_conditions.html">Footer podmínky</a></li>
        <li class="basket"><a href="kosik.html">Košík (3)</a></li>
    </ul>
</nav> *@

<nav class="nav-masthead">
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="about-us" Match="NavLinkMatch.All">
                O nás
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="products" Match="NavLinkMatch.All">
                Produkty
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                Kontakt
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="terms" Match="NavLinkMatch.All">
                Obchodní podmínky
            </NavLink>
        </li>
        <a class="btn btn-dark" href="/basket">
            Košík <span class="badge text-bg-light btn-sm">3</span>
        </a>
    </ul>

@*     <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Manage">
                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Register">
                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Login">
                    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView> *@
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

